.card-title {
  margin: 10px;
  min-height: 50px;
  text-align: center;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

.tab-content {
  margin-top: 25px;
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
}

.tab-class a {
  background-color: rgb(230, 230, 230);
  color: rgb(51, 51, 51);
}

.tab-class a:hover {
  background-color: rgb(197, 197, 197);
  color: rgb(51, 51, 51);
}

.card {
  flex-flow: row wrap;
  margin-top: 75px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card-img-top {
    height: 50vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card-deck {
    display: flex;
    flex-direction: column;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card-deck {
    display: flex;
    flex-direction: column;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-img-top {
    height: 20vw;
  }

  .episode-img-top {
    height: 30vw;
  }
}
